
<div class="modal fade" id="imageViewer" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-darck">
            <div class="modal-header"> 
                Imagen expandida
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-0 p-0">
                <img class="img-fluid" height="100%" width="100%" [src]="getImageUrl()" alt="img" *ngIf="file && eEntity">
            </div>
        </div>
    </div>
</div>