<div fxLayout="row" fxLayoutAlign="center center" class="title m-2">
    <h2 class="gallery-text title pb-0" mat-dialog-title><mat-icon class="me-2">collections</mat-icon> Galería</h2>
</div>
<mat-dialog-content class="mat-typography">
    <mat-grid-list [cols]="columns" gutterSize="2px" rowHeight="16:9" *ngIf="data && !isCreateMode">
        <mat-grid-tile *ngFor="let item of data!.urlList; let position = index">
            <div class="containerx max-size">
                <img class="gallery-small-image" [src]="item.url" [alt]="'icon' + (position + 1)"
                    (click)="openDialog(position)">
                <button mat-mini-fab color="warn" class="cover-btn-right" (click)="delete(item.uuid)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="container text-center" *ngIf="isCreateMode">
        <button type="button" mat-raised-button (click)="fileInput.click()">Elegir archivo</button>
        <input hidden (change)="fileChangeEvent($event)" #fileInput type="file" id="file" />
        <div class="row">
            <div class="col-md-6 mt-3 rounded p-2 border" style="background-color: rgb(221, 221, 221)" *ngIf="imageChangedEvent">
                <h5>Crop Image</h5>
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                        [aspectRatio]="16 / 9" [resizeToWidth]="1024" format="png" (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                        class="w-100 m-0">
                    </image-cropper>
            </div>
            <div class="col-md-6 mt-3 rounded p-2 border" style="background-color: rgb(221, 221, 221);" *ngIf="croppedImage">
                <h5>Preview</h5>
                <img [src]="croppedImage" class="w-100 img-preview"/>
            </div>
        </div>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end" class="px-3">
    <button mat-raised-button (click)="changeMode(!isCreateMode)" *ngIf="data.writePermission" class="mb-3">
        {{isCreateMode?'Cancelar': 'Nuevo'}}
    </button>
    <button mat-raised-button (click)="upload()" *ngIf="file" class="mb-3">
        Upload
    </button>
    <button mat-raised-button mat-dialog-close class="mb-3">Cerrar</button>
</mat-dialog-actions>