.gallery-text {
    margin: 0 5px !important;
}
  
.gallery-small-image{
  width: 100%;
  height: auto;
}

.max-size{
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
  
mat-grid-tile {
  transition: 0.3s;
  border-radius: 0;
  cursor: pointer;
}
  
mat-grid-tile:hover {
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
}

.title{
  display: flex;
  align-items: center;
}


.containerx{
  position: relative;
  display: inline-block;
  text-align: center;
}

.cover-btn-right{
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.img-preview{
  border: 5px solid white;
}