<mat-toolbar color="primary">
  <mat-toolbar-row class="p-0">
    <button mat-icon-button (click)="backHistory()" class="me-3">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="d-block">
        <div class="secondary-toolbar-title mb-0">Lugar turístico</div>
        <div class="secondary-toolbar-subtitle">{{tpDto.name}}</div>
    </div>
    <span class="sub-menu-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="redirectToEdit()">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="deleteByUuid(tpDto.uuid)">
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-3 mb-5">
  <mat-card>
    <mat-card-header>
      <mat-grid-list [cols]="gridCols" [rowHeight]="ratio" class="w-100">
        <mat-grid-tile class="rounded" style="background-color: gainsboro;">
          <img [src]="imgUrl" class="w-100 btn p-0" alt="principal image" onerror="this.src= 'assets/images/default-image.jpg'"
            (click)="openGallery()">
        </mat-grid-tile>

        <mat-grid-tile class="rounded">
          <div class="border border-1 full-content data-container">
            <div class="container-bg">
              <div class="principal-text">
                <h1 class="h1 text-center mt-2 mb-2">
                  {{tpDto.name}}
                </h1>
                <div class="text-center">
                  <button type="button" class="btn btn-light category-button me-1"
                    *ngFor="let category of tpDto.categories" #tooltip="matTooltip"
                    matTooltip="{{category.description}}" matTooltipPosition="below" matTooltipHideDelay="200"
                    aria-label="Button that displays a tooltip that hides when scrolled out of the container">{{category.name}}</button>
                </div>
                <div class="container in-line mb-5">
                  <p class="text-center mt-2 resume-resume">
                    <i class="fa-solid fa-quote-left me-1"></i>
                    <i>{{tpDto.resume?tpDto.resume:'undefined'}}</i>
                    <i class="fa-solid fa-quote-right ms-1"></i>
                  </p>
                </div>
                <div class="cover-options">
                  <div class="row">
                    <div class="col p-0 ps-1">
                      <button mat-mini-fab color="" class="mb-2" (click)="openGallery()">
                        <mat-icon>collections</mat-icon>
                      </button>
                    </div>
                    <div class="col p-0 ps-1">
                      <p class="btn btn-light">
                        <small class="text-truncate fw-lighter">{{punctuation}} <i class="fa-solid fa-star"></i></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-header>

    <mat-card-content>
      <div class="container p-0">
        <div class="container mt-3">
          <div class="row">
            <h2 class="h2 p-0">Descripción</h2>
            <div [innerHTML]="format(tpDto.description)" class="mt-3 text-justify p-0">
            </div>
          </div>
        </div>
        <div class="container mt-3" *ngIf="tpDto.addresses.length > 0">
          <div class="row">
            <h2 class="h2 p-0">Direcciones</h2>
            <app-address-read-only [addresses]="tpDto.addresses" class="p-0"></app-address-read-only>
          </div>
        </div>
        <div class="container mt-3">
          <div class="row">
            <h2 class="h2 p-0">Punctuación</h2>
            <app-rating [entityUuid]="uuid.toString()" [eRating]="eRating"
              (punctuationEmiter)="refreshPunctuationEvent($event)"
              (data)="refreshPunctuationEvent($event)"
              class="p-0"></app-rating>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>