<div class="container mt-3 mb-5">
  <div class="card">
    <div class="card-header text-bg-secondary d-flex justify-content-between align-middle">
      <div class="mt-auto mb-auto">
        <button class="btn btn-secondary" (click)="ngBack()"><i class="fa-solid fa-arrow-left"></i></button>
        <b class="ms-1">DETALLES</b>
      </div>
      <div class="mt-auto mb-auto">
        <button class="btn btn-secondary btn-sm" (click)="deleteByUuid(tpDto.uuid)"><i
            class="fa-solid fa-trash-can"></i></button>
        <a class="btn btn-secondary btn-sm" routerLink="/touristplaces/edit/{{tpDto.uuid}}"><i
            class="fa-regular fa-pen-to-square"></i></a>
      </div>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row bg-white">
          <div class="col-sm-12 col-md-6 border border-0 p-0 rounded bg-simple-linear">
            <div id="carouselControls" class="carousel slide align-middle" data-bs-ride="carousel">
              <div class="carousel-inner rounded">
                <div [ngClass]="{'carousel-item': true, 'active': tpDto.files.length == 0}" *ngIf="tpDto.imageIcon">
                  <img [src]="getImageUrl(tpDto.imageIcon)" class="d-block w-100 rounded" alt="image"
                    (click)="imgViewer()" type="button" data-bs-toggle="modal" data-bs-target="#imageViewer"
                    type="button">
                </div>
                <div [ngClass]="{'carousel-item':true, 'active': (i == 0)}"
                  *ngFor="let item of tpDto.files; let i = index">
                  <img [src]="getImageUrl(item.file)" class="d-block w-100 rounded" alt="image"
                    (click)="imgViewer(item)" data-bs-toggle="modal" data-bs-target="#imageViewer" type="button">
                </div>
                <div class="carousel-item active" *ngIf="tpDto.files.length == 0 && !tpDto.imageIcon">
                  <img [src]="getDefaultImgUrl()" class="d-block w-100 rounded" alt="image">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 d-flex border border-1 pt-2 bg-simple-linear rounded">
            <div class="container-flex data-container align-middle col-12">
              <h1 class="h1 text-center mt-2 mb-2">
                {{tpDto.name}}
              </h1>
              <div class="text-center">
                <button type="button" class="btn btn-light category-button me-1"
                  (click)="showInfo(category.description, category.name)"
                  *ngFor="let category of tpDto.categories">{{category.name}}</button>
              </div>
              <div class="container in-line mb-5">
                <p class="text-center mt-2">
                  <i class="fa-solid fa-quote-left me-1"></i>
                  <i>{{tpDto.resume?tpDto.resume:'undefined'}}</i>
                  <i class="fa-solid fa-quote-right ms-1"></i>
                </p>
              </div>
              <div class="cover-options">
                <div class="row justify-content-center">
                  <div class="col p-0 ps-1">
                    <button type="button" class="btn btn-outline-success rounded-circle" data-bs-toggle="modal"
                      data-bs-target="#galeryModal">
                      <i class="fa-regular fa-images"></i>
                    </button>
                  </div>
                  <div class="col p-0 ps-1">
                    <a href="/touristplaces/view/{{uuid}}#ratingSection" class="btn btn-light">
                      <small class="text-truncate fw-lighter">{{punctuation}} <i class="fa-solid fa-star"></i></small>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-3 p-0">
          <div class="row p-0">
            <h2 class="h2 p-0">Descripción</h2>
            <div [innerHTML]="format(tpDto.description)" class="mt-3 text-justify p-0">
            </div>
          </div>
        </div>

        <div class="contaimer mt-3 p-0">
          <div class="row p-0">
            <h2 class="h2 p-0">Direcciones</h2>
            <app-address-read-only [addresses]="tpDto.addresses"></app-address-read-only>
            <div id="map" class="map"></div>
          </div>
        </div>

      </div>
      <hr class="border border-primary border-3 opacity-75">
      <app-rating [entityUuid]="uuid" [eRating]="eRating"
        (punctuationEmiter)="refreshPunctuationEvent($event)"></app-rating>
    </div>
  </div>
</div>

<app-galery [eModule]="eModule" [eEntity]="eEntity" [entityUuid]="uuid" [files]="tpDto.files"
  (changeListEvent)="changeListEvent($event)"></app-galery>

<app-image-viewer [file]="clickedImg" [eEntity]="eEntity"></app-image-viewer>