<div class="grid-container">
  <div class="w-100">
  <mat-grid-list [cols]="1" gutterSize="0px" rowHeight="16:9">
    <mat-grid-tile>
        <div id="carousel" class="carousel slide carousel-container">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" [attr.data-bs-slide-to]="i"
              [class]="{'active': i == data.position}" [attr.aria-current]="i==data.position?'true':null"
              [attr.aria-label]="'Slide ' + i" *ngFor="let x of data.urlList; let i = index"></button>
          </div>
          <div class="carousel-inner">
            <div [class]="['carousel-item', i == data.position?'active':'']"
              *ngFor="let item of data.urlList; let i = index" style="width: 100%; height: 100%;">
              <img [src]="item.url" alt="img" class="d-block w-100 rounded">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>