mat-toolbar {
  height: 57px;
}

.spacer {
  flex: 1 1 auto;
}

.app-title {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  margin-left: 8px;
  text-shadow: 0 0 50px #fff;
}

.toolbar-shadown{
  box-shadow: 10px 10px rgb(2, 2, 2);
}