<mat-toolbar color="primary" class="mat-elevation-z8" style="position: relative; z-index: 5;">
    <img class="mb-2" src="assets/img/OIG3.png" style="width: 25px; height: 25px;" alt="icon">
    <span class="app-title">Backpacker</span>

    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="redirectTo('')">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-menu-item (click)="redirectTo('touristplaces')">
            <mat-icon>map</mat-icon>
            <span>Lugares turísticcos</span>
        </button>
        <button mat-menu-item (click)="redirectTo('hotels')">
            <mat-icon>hotels</mat-icon>
            <span>Hoteles</span>
        </button>
        <button mat-menu-item disabled (click)="redirectTo('login')">
            <mat-icon>login</mat-icon>
            <span>Sesión</span>
        </button>
    </mat-menu>

</mat-toolbar>