/* Angular material */
mat-button-toggle-group{
    height: 55px;
}

/* toolbar secundario */
.secondary-toolbar-spacer {
  flex: 1 1 auto;
}

/* paginación */
.paginator-select {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  width: 80px;
  height: 40px;
  font-size: 12px;
}
  
.demo-paginator {
  width: auto;
}


/* Bootstrap */
.btn-pointer{
    cursor: pointer;
}

.img-text-container{
    position: relative;
    display: inline-block;
    text-align: center;
}

.cover-text-right{
    position: absolute;
    bottom: 1%;
    right: 1%;
    text-shadow: 0 0 30px #ffffff;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: small;
    text-align: right;
}

.cover-text-left{
    position: absolute;
    bottom: 1%;
    left: 1%;
    text-shadow: 0 0 30px #ffffff;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: small;
    text-align: left;
}

.title-resume{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.resume-resume{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp:5
}

.img-ratio{
    aspect-ratio: 16 / 9;
    width: 100%;
}


